.ohm__breadcrumb {
  display: block;
  margin: 0px 0px 20px 0px;

  h2 {
    margin: 0px;
    color: #fff;
  }

  p {
    color: #9a9c9f;
    margin: 2px 0px 5px 0px;
    line-height: 22px;
  }

  border-bottom: 2px solid #505257;
}
